@import "./mail-css/mail-main.css";
@import "./keep-css/keep-main.css";
/* GENERAL */

*{
    box-sizing: border-box;
    font-family: david;
}

button{
    font-family: david;
}

button:hover{
    cursor: pointer;
}

body{
    background-color:whitesmoke;
    margin:0;
    padding: 0;      
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

/* MAIN APP */

.appsus-logo{
    height: 50px;
   
}

.app-main-container{
    display:flex;
    flex-direction: column;
}

.app-header{
height: 7vh;
display: flex;
justify-content: space-between;

background-color: lightblue;
padding-left: 15px;
align-items: center;
}
.app-header h2{
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.app-header h2 span{
    padding-right: 10px;
    
}
.app-header nav{
    padding-right: 15px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.app-header nav a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.app-main{
    flex:1;
    min-height: 86vh;

}

.app-main-home{
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.app-main-home h2{
    color: lightblue ;
    font-size: 55px;
    margin-top: 30px;
    text-align: center;
}


.app-footer{
    height: 7vh;   
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    }
    

