@import "./mail-css/mail-main.css";
@import "./keep-css/keep-main.css";
/* GENERAL */

*{
    box-sizing: border-box;
    font-family: david;
}

button{
    font-family: david;
}

button:hover{
    cursor: pointer;
}

body{
    background-color:whitesmoke;
    margin:0;
    padding: 0;      
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

/* MAIN APP */

.appsus-logo{
    height: 30px;
    width: 30px;
}

.app-main-container{
    display:flex;
    flex-direction: column;
}

.app-header{
height: 7vh;
display: flex;
justify-content: space-between;
border-bottom: 1px black solid;
background-color: lightblue;
}

.app-main{
    flex:1;
    min-height: 86vh;

}

.app-main-home{
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.app-footer{
    height: 7vh;
    text-align: center;
    background-color: lightblue;
    }
    

