@import "./keep-cmp-css/keep-create-note.css";
@import "./keep-cmp-css/keep-edit-note.css";
@import '/css/keep-css/keep-cmp-css/keep-filter.css';
@import '/css/keep-css/keep-cmp-css/keep-note-img.css';
@import '/css/keep-css/keep-cmp-css/keep-note-to-do.css';
@import '/css/keep-css/keep-cmp-css/keep-note-txt.css';
@import '/css/keep-css/keep-cmp-css/keep-note-video.css';
@import '/css/keep-css/keep-cmp-css/keep-notes-list.css';
@import '/css/keep-css/pages/keep-page.css';



.keep-task-done{
    text-decoration: line-through;
}


.notes-container{
    margin: 20px 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: lightgray 1px solid;
    
}

.keep-txt-note{
    background-color: blanchedalmond;
    border: 1px lightgrey solid;
    border-radius: 5px;
    margin: 10px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px #5a5858;

}

.keep-txt-note:hover{
    box-shadow: 0px 0px 10px 3px #5a5858;
}










