@import "./keep-cmp-css/keep-create-note.css";
@import "./keep-cmp-css/keep-edit-note.css";
@import '/css/keep-css/keep-cmp-css/keep-filter.css';
@import '/css/keep-css/keep-cmp-css/keep-note-img.css';
@import '/css/keep-css/keep-cmp-css/keep-note-to-do.css';
@import '/css/keep-css/keep-cmp-css/keep-note-txt.css';
@import '/css/keep-css/keep-cmp-css/keep-note-video.css';
@import '/css/keep-css/keep-cmp-css/keep-notes-list.css';
@import '/css/keep-css/pages/keep-page.css';



.keep-task-done{
    text-decoration: line-through;
}


.notes-container{
    margin: 20px 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.keep-txt-note{
    background-color: blanchedalmond;
    border: 1px black solid;
    margin: 5px;
    width: 75px;
    height: 75px;

}











