.notes-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.keep-txt-note{
    background-color: blanchedalmond;
    border: 1px black solid;
    margin: 5px;
    width: 75px;
    height: 75px;

}

.paint{
height: 20px;
width: 20px;
}


.keep-notes-form{
    display: flex;
    flex-direction: column;
    width: 200px;
}
