@import "./keep-cmp-css/keep-note-cmp.css";

.keep-task-done{
    text-decoration: line-through;
}

button{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover{
    background-color: lightyellow;
    cursor: pointer;
}

.notes-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.keep-txt-note{
    background-color: blanchedalmond;
    border: 1px black solid;
    margin: 5px;
    width: 75px;
    height: 75px;

}

.paint{
height: 20px;
width: 20px;
}


.keep-notes-form{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.keep-create-note{
    display:flex;
    justify-content: center;
    height: 100px;
}




.edit-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

