.mail-sort{
    display: flex;
    flex-direction: column;
    
}
.mail-sort button{
    border: none;
    background: none;
    font-size: 1.2rem;
    height: 50px;
    padding: 0;  
    width: 100%;  
}
.mail-sort-item{
    width: 300px;
    /* border-bottom: 1px solid darkgray; */
    /* text-align: center;     */
}
.mail-sort-item span{
    color: royalblue;
}