.mail-details-container{
    width: 800px;
    margin: 20px auto  0 ;
    position: relative;
    background-color: silver;
    padding: 2px;
    border-radius: 5px;
    
}
.mail-details-header{
    margin-bottom: 20px;
    text-align: center;
}
.mail-details-text{
    margin-bottom: 20px;
}
.mail-replay-actions{
    width: 800px;
    margin: 20px auto  0 ;
    display: flex;
    justify-content: space-between;

}
.mail-reply-container{
    margin: 20px auto  0 ;
    width: 800px;
    background-color: #525050;
    padding: 2px;
    border-radius: 5px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mail-reply-container h3{
    text-align: center;
    color: whitesmoke;
}
.mail-replay-btns{
    display: flex;
    justify-content: space-between;
}
.mail-details-Back{
    
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: silver;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    
}
.mail-replay-btn{
    border: none;
    background-color: silver;
    font-size: 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}  

.mail-details-reply-btn{
    background-image: url('/icons/send.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;

}

.mail-details-cancle-btn{
    background-image: url('/icons/cancle.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;

}