
.edit-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: aliceblue;
    padding: 5px;
}

.keep-note-editor-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}