.keep-note-edit-btns{
    visibility: hidden;
    text-align: center;
}

.keep-note-container:hover .keep-note-edit-btns{
    visibility: visible;
    text-align: center;
}




/* .dropdown:hover .dropdown-content {display: block;} */

