.mail-item{
    display: inline-block;
}
.mail-item:nth-child(n){
    border-bottom:1px solid darkgray ;
}
.mail-time{
    width: 150px;
}
.mail-title{
    width: 250px;
}
.mail-text{
    width: 500px;
}
.notRead{
    font-weight: bold;   
}
.mail-preview{
    display: flex;
}

