@import "./mail-cmps/mail-compose.css";
@import "./mail-cmps/mail-details.css";
@import "./mail-cmps/mail-filter.css";
@import "./mail-cmps/mail-list.css";
@import "./mail-cmps/mail-sort.css";
@import "./mail-cmps/mail-preview.css";
@import "./mail-cmps/mail-actions.css";


.mail-main{
    display: flex;
}
.mail-logo{
    height: 80px;
}
.mail-logo img{
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}
.mail-compose-link{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: black;    
    border-radius: 2em;
    font-weight: bold;
    background-color: lightblue;
}
.mail-compose-link:hover{
    color: dimgrey;
}
.mail-main-actionbar{
    
    display: flex;
    flex-direction: column;
    align-items: center;       
    margin-right: 5px;
    
}
.mail-user-msg{
    position: absolute;
    bottom: 7vh;
    left: 50px;
    height: 50px;
    width: 150px;
    
    
}







